
#Core libs
django    				#core django libs
django-localflavor
dj_static


#REST libraries
django-tastypie 			  #REST framework
django-oauth2-provider        #OAuth2 provider
requests					  #HTTP client
django-tastypie-swagger       #REST docs library

#DB
mysql-python
